<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<h1>
		<center><%= groupname %></center>
	</h1>

	<br>

	<form name="input" method="get" action="/">
		<input type="submit" name="button" value="Return to Groups">
	</form> 

	<form name="input" method="post" action="/<%= groupname %>/edit">
		<label>Edit <%= groupname %></label>
		<br>
		<label>
			Groupname:<input type="text" name="title_new" class="title" value="<%= groupname %>">
		</label>
		<br>
		<label>
			Personal Information: [I'm blank 'cause we haven't implemented this yet!]</label>
		<label>
		<br>
			Members:
			<br>
			<% groups[groupname].each do |name,number| %>
			<input type="text" name="<%= name %>" class="name" value="<%= name %>">
			<input type="text" name="<%= number %>" class="name" value="<%= number %>">
			<br>
			<% end %>
		</label>
		<br>
		<input type="hidden" name="_method" value="put">	
			<input type="submit" name="button" value="Send!">
	 		
	</form>

</body>
	
</html>