<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div class = "pure-g">
	<div id="navbar" class="pure-u-1">
	Title goes here.
	</div>
	<div id="addnew" class = "pure-u-1-2">
		
		<form method="post" action="/" id="create_group" class = "elegant-aero">
		<center>Start making your own groups!</center>
				<ul>
				<label> 
					<input type="text" name="groupname" placeholder="Group Name" required>
				</label></ul>
				<ul>
				<label> 
					<input type="text" name="membername" placeholder="Member name" required>
				</label></ul>
				<ul>
				<label>
					<input type="text" name="email" placeholder="Email Address" required>
				</label></ul>
				<ul>
				<label>
					<input type="submit" name="button" class="button" value="Submit"></label></ul>
				
		
		</form>
		</center>
</div>

	<div id = "groups" class = "pure-u-1-2">
		Your groups!
		<br>
		<div id="grouplist">
		<% groups.each do |groupname, value|%>
			<div id="<%= groupname %>">
				<form class = "pure-form" method="get" action="/<%= groupname %>">
					<input type="submit" name="button" class="button" value="<%= groupname %>">
				<center><table class="pure-table pure-table-horizontal">
				   <thead>
			        <tr>
			            <th>Name</th>
			            <th>E-mail Address</th>
			        </tr>
				    </thead>
				    <tbody>
					<% value.each do |name,email|%>
						<tr>
							<td><%= name %></td>
							<td><%= email %></td>
						</tr>
					<% end %>
					</tbody>
				</table></center>
			</div>
		<% end %>
		</div>
	</div>

</div>



		

</body>

</html>
