<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<h1>
		<center><%= groupname %></center>
	</h1>

	<br>

	<form name="input" method="get" action="/">
		<input type="submit" name="button" value="Return to Groups">
	</form> 

	<form name="input" method="get" action="/<%= groupname %>/edit">
		<input type="submit" name="button" value="Edit Groups">
	</form> 


	<form name="input" method="post" action="/<%= groupname %>">
		<label>Email yo Friends!</label>
		<br>
		Recipients: <br>

		<% groups[groupname].keys.each_with_index do |name,i| %>
		<input type="checkbox" name="<%= name %>" checked><%= name %><BR>

		<% end %>
		Time of Arrival (EST): <input type="time" name="time" value="<%= Time.now.strftime("%H:%M") %>">
		<br>
		Subject: <input type="text" name="subject" placeholder="Write your subject here!">
		<br>
		Message: <input type="text" name="message" placeholder="Write your message here!">
		<br>
		
		<input type="submit" name="button" value="Send!">
	 		
	</form>

	<br>

	<div id="history">
	Previous Emails for this Group: <br>
	<% emails[groupname].each do |value|%>
	<br>
		<div id="message">
		Recipients: <%= value[0] %>
		<br>
		Time of Arrival: <%= value[1] %>
		<br>
		Subject: <%= value[2] %>
		<br>
		Message: <%= value[3] %>
		</div>

	<% end %>
	</div>










</body>
	






</html>